# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Ignore virtual environment
venv/
env/

# Ignore local environment configuration files
.env

# Ignore static files collected by Django
/static/

# Ignore media files
/media/

# Ignore migrations if you don't want to include them
*/migrations/

# Ignore IDE specific files
.idea/
.vscode/

# Ignore compiled code
*.so
*.DS_Store
