# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Local development settings
local_settings.py

# virtual environment
venv/
env/

# local environment configuration files
.env

# static files collected by Django
/static/

# media files
/media/

# migrations if you don't want to include them

# IDE specific files
.idea/
.vscode/

# compiled code
*.so
*.DS_Store
